In [1]:
from dotenv import load_dotenv 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
import sys
import os
sys.path.append(os.path.abspath('../scripts'))

In [5]:
from database_connectivity import load_data_using_sqlalchemy
from sql_queries import execute_telecom_queries

In [6]:
# Define your SQL query
query = "SELECT * FROM xdr_data;"

# Load data from PostgreSQL using SQLAlchemy
df = load_data_using_sqlalchemy(query)

In [7]:
# Assuming the columns tothe dataframe  
user_metrics = df[['MSISDN/Number', 
                   'TCP DL Retrans. Vol (Bytes)', 
                   'Avg RTT DL (ms)', 
                   'Avg RTT UL (ms)', 
                   'Avg Bearer TP DL (kbps)', 
                   'Avg Bearer TP UL (kbps)', 
                   'Handset Type']].copy()

# Check the first few rows of user_metrics to confirm the data
print(user_metrics.head())

   MSISDN/Number  TCP DL Retrans. Vol (Bytes)  Avg RTT DL (ms)  \
0   3.366496e+10                          NaN             42.0
1   3.368185e+10                          NaN             65.0
2   3.376063e+10                          NaN              NaN
3   3.375034e+10                          NaN              NaN
4   3.369980e+10                          NaN              NaN

   Avg RTT UL (ms)  Avg Bearer TP DL (kbps)  Avg Bearer TP UL (kbps)  \
0              5.0                     23.0                     44.0
1              5.0                     16.0                     26.0
2              NaN                      6.0                      9.0
3              NaN                     44.0                     44.0
4              NaN                      6.0                      9.0

                  Handset Type
0   Samsung Galaxy A5 Sm-A520F
1  Samsung Galaxy J5 (Sm-J530)
2     Samsung Galaxy A8 (2018)
3                    undefined
4             Samsung Sm-G390F